.primary {
    color: #0151ba
}

.grey {
    color: #ccc
}

.bg-primary {
    background-color: #0151ba
}

.invert {
    background-color: #0151ba;
    color: #fff
}

.invert a {
    color: #fff;
    border: 0
}

.invert a:hover {
    color: #7ef1f9
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

::selection {
    background-color: #7ef1f9;
    color: #0151ba
}

a {
    color: #0151ba;
    text-decoration: none;
    border-bottom: 3px solid #7ef1f9;
    position: relative
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #0151ba;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

a.no-slide:hover:before {
    visibility: hidden
}

a.no-slide:hover {
    color: #7ef1f9
}

a.no-border {
    border-bottom: none
}

@media (min-width: 30em) {
    h1.f-headline-ns {
        font-size: 2rem
    }
}

h2 {
    margin-top: 5rem
}

h3 {
    margin-top: 4rem
}

.f7 {
    font-size: 0.8rem
}

hr {
    width: 25%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 2px;
    border: 0;
    background-color: #0151ba
}

pre code {
    background: none;
    border: none
}

code {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 0.75rem
}

blockquote {
    border-left: 3px solid #0151ba;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: #0151ba
}

blockquote cite {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-style: normal
}

blockquote p:first-child {
    margin-top: 0
}

blockquote p:last-child {
    margin-bottom: 0
}


.hero {
    background-position: center center;
    background-size: cover;
    min-height: 400px
}

.sidebar {
    border-left: 1px solid #0151ba
}

nav a:hover {
    background-color: #7ef1f9;
    color: #0151ba !important
}

.balance-text {
    text-wrap: balanced
}

.f-headline {
    font-size: 4rem
}

.aside {
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
    background-color: #eee;
    padding: 0.1rem 1rem
}

.highlight {
    border-radius: 5px;
    background-color: #fbfbfb;
    font-size: 16px;
    text-shadow: none;
    color: #111;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    padding: .5rem;
    white-space: pre-wrap
}

.highlight pre {
    margin: 0;
    background: none
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight .c {
    color: #888888
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    color: #008800;
    font-weight: bold
}

.highlight .cm {
    color: #888888
}

.highlight .cp {
    color: #cc0000;
    font-weight: bold
}

.highlight .c1 {
    color: #888888
}

.highlight .cs {
    color: #cc0000;
    font-weight: bold;
    background-color: #fff0f0
}

.highlight .gd {
    color: #000000;
    background-color: #ffdddd
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #303030
}

.highlight .gi {
    color: #000000;
    background-color: #ddffdd
}

.highlight .go {
    color: #888888
}

.highlight .gp {
    color: #555555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #606060
}

.highlight .gt {
    color: #aa0000
}

.highlight .kc {
    color: #008800;
    font-weight: bold
}

.highlight .kd {
    color: #008800;
    font-weight: bold
}

.highlight .kn {
    color: #008800;
    font-weight: bold
}

.highlight .kp {
    color: #008800
}

.highlight .kr {
    color: #008800;
    font-weight: bold
}

.highlight .kt {
    color: #888888;
    font-weight: bold
}

.highlight .m {
    color: #0000dd;
    font-weight: bold
}

.highlight .s {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .na {
    color: #336699
}

.highlight .nb {
    color: #003388
}

.highlight .nc {
    color: #bb0066;
    font-weight: bold
}

.highlight .no {
    color: #003366;
    font-weight: bold
}

.highlight .nd {
    color: #555555
}

.highlight .ne {
    color: #bb0066;
    font-weight: bold
}

.highlight .nf {
    color: #0066bb;
    font-weight: bold
}

.highlight .nl {
    color: #336699;
    font-style: italic
}

.highlight .nn {
    color: #bb0066;
    font-weight: bold
}

.highlight .py {
    color: #336699;
    font-weight: bold
}

.highlight .nt {
    color: #bb0066;
    font-weight: bold
}

.highlight .nv {
    color: #336699
}

.highlight .ow {
    color: #008800
}

.highlight .w {
    color: #bbbbbb
}

.highlight .mf {
    color: #0000dd;
    font-weight: bold
}

.highlight .mh {
    color: #0000dd;
    font-weight: bold
}

.highlight .mi {
    color: #0000dd;
    font-weight: bold
}

.highlight .mo {
    color: #0000dd;
    font-weight: bold
}

.highlight .sb {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .sc {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .sd {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .s2 {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .se {
    color: #0044dd;
    background-color: #fff0f0
}

.highlight .sh {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .si {
    color: #3333bb;
    background-color: #fff0f0
}

.highlight .sx {
    color: #22bb22;
    background-color: #f0fff0
}

.highlight .sr {
    color: #008800;
    background-color: #fff0ff
}

.highlight .s1 {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .ss {
    color: #aa6600;
    background-color: #fff0f0
}

.highlight .bp {
    color: #003388
}

.highlight .vc {
    color: #336699
}

.highlight .vg {
    color: #dd7700
}

.highlight .vi {
    color: #3333bb
}

.highlight .il {
    color: #0000dd;
    font-weight: bold
}

.highlight .p {
    color: #111
}

.highlight .nx {
    color: #333
}

.alignright {
    float: right;
    width: 40%;
    margin: 0 0 10px 10px;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
    width: 40%;
    margin: 0 10px 10px 0;
}

.nav_spacer {
    display: inline-block;
    color: white;
}