<head>
    <title>
        {% if page.title %}
          {{ page.title }}
        {% else %}
          {{ site.name }}
        {% endif %}
    </title>

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="{{ page.title }}" />


    <meta property="og:image" content="{{  page.image | relative_url }}"/>


    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="stylesheet" href="//unpkg.com/tachyons@4.7.0/css/tachyons.min.css" />
    <link rel="stylesheet" href={{ "/css/style.css" | relative_url}} type="text/css" media="screen, projection" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/balance-text/3.0.0/balancetext.min.js"></script>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>
