<div class="sidebar fl w-30-l f5 pa4 mt4">
    <h2 class="mt4 tracked-tight primary mb0">
        <a href={{ "/" | relative_url }} class="bn no-slide">{{ site.author }}</a>
    </h2>

    <div class="f6 lh-copy">
        <p class="mt0">read write run</p>
        <p>
            I'm also at: <a href="https://fanfou.com/weijingyu">Fanfou</a>,
            <a href="https://weibo.com/weijingyu">Weibo</a> &amp;
        </p>
        <p>
            Follow me at
            <a href="https://twitter.com/weijingyu"><span class="ss-twitter f6 primary v-mid"></span> weijingyu</a>.
        </p>
    </div>

    <nav class="b mt5">
        <a class="db bn bg-primary white mb1 pl2 no-slide" href={{ "/about" | relative_url }}>About</a>
        <a class="db bn bg-primary white mb1 pl2 no-slide" href={{ "/posts" | relative_url }}>短话长说</a>
        <a class="db bn bg-primary white pl2 no-slide" href={{ "/notes" | relative_url }}>长话短说</a>
    </nav>
</div>