<div class="sidebar fl w-30-l f5 pa4 mt4">
    <h2 class="mt4 tracked-tight primary mb0">
        <a href={{ "/" | relative_url }} class="bn no-slide">{{ site.author }}</a>
    </h2>

    <div class="f6 lh-copy">
        <p class="mt0">read write run</p>
        <p>
            I'm also at: <a href="https://fanfou.com/weijingyu">Fanfou</a>,
            <a href="https://weibo.com/weijingyu">Weibo</a> &amp;
        </p>
    </div>

    <nav>
        <a href={{ "/" | relative_url }}>主页</a>
        <div class="nav_spacer">|</div>
        <a href={{ "/posts" | relative_url }}>短话长说</a>
        <div class="nav_spacer">|</div> 
        <a href={{ "/suisuinian" | relative_url }}>长话短说</a>
    </nav>
</div>