<!DOCTYPE html>
<html lang="zh">

{% include head.html %}

<body>
    {% if page.image %}
        <div class="hero" style="background-image: url({{ page.image | relative_url }});">
            <div class="pv6-ns pa5 tl-ns tc">
                {% if page.title-hide %}
                    <h1 class="f-headline-ns f3 lh-title balance-text dib ph4 pv2 none-display">
                {% else %}
                    <h1 class="f-headline-ns f3 lh-title balance-text dib ph4 pv2 bg-white">
                {% endif %}
                        {{ page.title }}
                    </h1>
            </div>
        </div>
    {% else %}
        <h1 class="center w-80 f-headline-ns f3 lh-title db ph4 pv2 bg-primary white">
            {{ page.title }}
        </h1>
    {% endif %}

        <article class="f4 lh-copy pr6-l pl6-l">
            <div class="fl w-70-l pa4 mb6">
                {{ content }}
            </div>
            {% include sidebar.html %}
        </article>
</body>
<script>
    balanceText();
</script>

</html>
